{
    "rejected": [
        "!//buttersafe.com/",
        "!//calendar.google.com/",
        "!//itchyfeetcomic.com/",
        "!//mathwithbaddrawings.com/",
        "///.*.pdf",
        "///.*\\.pdf$",
        "//[0-9]+(\\.[0-9]+)+/",
        "//^basecamp.com/",
        "//^github.com/",
        "//^goodreads.com/",
        "//^google.com/url",
        "//^slack.com/",
        "//^stackoverflow.com/",
        "//^t.co/",
        "//^translate.google.com/",
        "//^twitter.com/",
        "//^www.goodreads.com/",
        "//accounts.google.com/",
        "//addons.mozilla.org/",
        "//amazon.com/",
        "//apa.org/",
        "//app.grammarly.com/",
        "//app.slack.com/",
        "//calendar.google.com/",
        "//discord.com/channels",
        "//docs.google.com/",
        "//docs.python.org/",
        "//docs.python.org/",
        "//doi.org/",
        "//doodle.com/",
        "//drive.google.com/",
        "//eis.oxy.edu/",
        "//explainxkcd.com/",
        "//explosm.net/comics",
        "//fandom.com/",
        "//google.com/",
        "//google.com/calendar",
        "//google.com/maps",
        "//google.com/search",
        "//google.com/search",
        "//google.com/url",
        "//grubhub.com/",
        "//herokuapp.com/",
        "//hpmor.com/",
        "//knowyourmeme.com/",
        "//learn.zybooks.com/",
        "//leftoversoup.com/",
        "//linkedin.com/",
        "//localhost/",
        "//login.microsoftonline.com/",
        "//mail.google.com/",
        "//messages.google.com/",
        "//moodle.oxy.edu/",
        "//news.ycombinator.com/",
        "//panopto.com/"
        "//reddit.com/",
        "//reddit.com/",
        "//research.gov/",
        "//sciencedirect.com/",
        "//slack.com/",
        "//smartcatalogiq.com/",
        "//smbc-comics.com/",
        "//stackexchange.com/",
        "//thesaurus.com/",
        "//uesp.net/",
        "//whenisgood.net/",
        "//wikipedia.org/",
        "//wiktionary.org/",
        "//wolframalpha.com/input",
        "//xkcd.com/",
        "//youtube.com/",
        "//zoom.us/",
        "file:///",
        "ftp:///",
    ],
    "accepted": [
        "///(.*/)?[0-9]{2}/[0-9]{2}/",
        "///(.*/)?[0-9]{4}/[0-9]{2}/",
        "//blog.factorio.com/",
        "//blog.grubhub.com/",
        "//cacm.acm.org/",
        "//medium.com/",
        "//substack.com/p/",
        "//theguardian.com/.*/[0-9]{4}"
        "//wired.com/story/",
        "//www.chronicle.com/article",
    ]
}
