<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>History Sorter</title>
        <meta name="viewport" content="max-width=device-max-width, initial-scale=1.0">
        <style>
            .url-column {float:left; width:33.33%; overflow:hidden;}
            .url-column ul {white-space:nowrap; padding-left:1em;}
            .url-column ul ul {display:none;}
            .url-column span.expando:hover {cursor:pointer; text-decoration:underline;}
        </style>
        <script>
            function add_rule(rule_type) {
                var xhr = new XMLHttpRequest();
                var data = {
                    'preempt': document.getElementById('preempt').checked,
                    'scheme': document.getElementById('scheme').value,
                    'netloc': document.getElementById('netloc').value,
                    'path': document.getElementById('path').value,
                    'rule_type': rule_type,
                };
                var params = Object.keys(data).map(
                    function(k){ return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]) }
                ).join('&');
                xhr.open('POST', '/add-rule');
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(params);
                //update_urls(); // FIXME
                document.getElementById('scheme').value = ''
                document.getElementById('netloc').value = ''
                document.getElementById('path').value = ''
                return xhr;
            };

            function update_urls() {
                for (const url_status of ['rejected', 'unsorted', 'accepted', 'conflict']) {
                //for (const url_status of ['accepted']) {
                    fetch('/urls/' + url_status)
                      .then((response) => response.json())
                      .then((data) => {

                        function add_children(parent, parts, node) {
                            var [count, children] = node;
                            var part_name = parts[parts.length - 1];
                            if (part_name) {
                                while (children.length === 1) {
                                    [[new_part, [count, children]]] = children;
                                    part_name += '/' + new_part;
                                }
                            }
                            var sublist = (part_name ? document.createElement('ul') : parent);
                            for (const [child_name, child_node] of children) {
                                if (child_node.length > 0) {
                                    add_children(sublist, [...parts, child_name], child_node);
                                }
                            }
                            if (part_name) {
                                var item = document.createElement('li');
                                if (count === 0) {
                                    //var url = 'https://' + parts.slice(1).join('/');
                                    if (parts[1] == 'admiralcloudberg.medium.com') {
                                        console.log(parts);
                                        console.log(children);
                                        console.log(part_name);
                                    }
                                    var url = 'https://' + [...parts.slice(1), ...[part_name]].join('/');
                                    item.innerHTML = '<a href="' + url + '">' + url + '</a>';
                                } else {
                                    item.innerHTML = '<span class="expando">(' + count + ') ' + part_name + '</span>';
                                }
                                item.append(sublist)
                                parent.append(item)
                            }
                        }

                        var urls_elem = document.getElementById(data['status'] + '-urls');
                        var count_elem = document.getElementById(data['status'] + '-count');
                        count_elem.innerHTML = data['trie'][0];
                        urls_elem.innerHTML = '';
                        add_children(urls_elem, [], data['trie']);
                        for (const elem of urls_elem.getElementsByClassName('expando')) {
                            elem.addEventListener('click', (event) => {
                                var list_item = event.target.parentElement;
                                var hide = list_item.classList.contains('showing');
                                for (const child of list_item.children) {
                                    if (child.tagName !== 'UL') {
                                        continue;
                                    }
                                    if (hide) {
                                        child.style.display = 'none';
                                    } else {
                                        child.style.display = 'block';
                                    }
                                }
                                list_item.classList.toggle('showing');
                            });
                        }
                      });
                }
            };
        </script>
    </head>

    <body>
        <div id="new-rule">
            <button onclick="add_rule('reject');">Reject</button>
            <input id="preempt" name="preempt" type="checkbox"><label for="preempt">Preempt</label>
            <input id="scheme" type="text"></input>://<input id="netloc" type="text"></input>/<input id="path" type="text"></input>
            <button onclick="add_rule('accept');">Accept</button>
        </div>
        <div id="rules">
        </div>
        <div id="urls">
            <div class="url-column">
                <h2>Rejected URLs (<span id="rejected-count"></span>)</h2>
                <ul id="rejected-urls">
                </ul>
            </div>
            <div class="url-column">
                <h2>Conflicted URLs (<span id="conflict-count"></span>)</h2>
                <ul id="conflict-urls">
                </ul>
                <h2>Unsorted URLs (<span id="unsorted-count"></span>)</h2>
                <ul id="unsorted-urls">
                </ul>
            </div>
            <div class="url-column">
                <h2>Accepted URLs (<span id="accepted-count"></span>)</h2>
                <ul id="accepted-urls">
                </ul>
            </div>
        </div>
        <script>
            update_urls();
        </script>
    </body>

</html>
